@font-face {
  font-family: "Code bold";
  src: url("../fonts/Code_Pro_LC.otf");
}

@font-face {
  font-family: "Code light";
  src: url("../fonts/Code_Pro_Light_LC.otf");
}

h1 {
  font-family: "Code bold", sans-serif;
}

p, footer {
  font-family: "Code bold", sans-serif;
}

header {
  /* background: #f5a200; */
  /* background: #4cac33; */
  background: #824d1e;
}